<!-- formulaire de creation d'agence -->
<mat-card class="mat-elevation-z3">
  <mat-card-header>
    <mat-card-title>Créer une agence</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="agenceForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput placeholder="Nom" formControlName="nom">
      </mat-form-field>
      <!-- champ de selection du statut de l'agence -->
      <mat-form-field>
        <mat-select placeholder="Statut" formControlName="statut">
          <mat-option *ngFor="let statut of statuts" [value]="statut.value">
            {{statut.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Balance" formControlName="balance">
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Créer</button>

    </form>
  </mat-card-content>
</mat-card>
