<mat-card>
  <mat-card-header>
    <mat-card-title>Transaction</mat-card-title>
    <mat-card-subtitle>Liste de l'ensemble des transactions</mat-card-subtitle>
  </mat-card-header>

  <mat-card-actions>
    <button mat-button>
      <mat-icon>add</mat-icon>
      <span>Ajouter</span>
    </button>
  </mat-card-actions>

  <mat-card-content>

    <!-- Afiichage de la liste des transactions si elles existent -->
    <div *ngIf="transactions.length > 0; else noTransactionTemplate" class="mat-elevation-z3">
      <table [dataSource]="dataSource" mat-table>

        <ng-container matColumnDef="id">
          <th *matHeaderCellDef mat-header-cell> ID</th>
          <td *matCellDef="let transaction" mat-cell> {{transaction.id}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th *matHeaderCellDef mat-header-cell> Date</th>
          <td *matCellDef="let transaction" mat-cell> {{transaction.date | date: 'dd/MM/yy, à HH:mm' }} </td>
        </ng-container>

        <ng-container matColumnDef="montantReception">
          <th *matHeaderCellDef mat-header-cell> Montant Envoi</th>
          <td *matCellDef="let transaction" mat-cell> {{transaction.montantReception}} </td>
        </ng-container>

        <ng-container matColumnDef="deviseOrigine">
          <th *matHeaderCellDef mat-header-cell> Devise Origine</th>
          <td *matCellDef="let transaction" mat-cell> {{transaction.deviseOrigine.nom}} </td>
        </ng-container>

        <ng-container matColumnDef="statut">
          <th *matHeaderCellDef mat-header-cell> Statut</th>
          <td *matCellDef="let transaction" mat-cell>
            <button [color]="changeColorStatut(transaction.statut)" mat-raised-button>
              {{ transaction.statut | titlecase }}
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="emetteur">
          <th *matHeaderCellDef mat-header-cell> Emetteur</th>
          <td *matCellDef="let transaction"
              mat-cell> {{transaction.recepteur.prenom + ' ' + transaction.emetteur.nom}} </td>
        </ng-container>

        <ng-container matColumnDef="paysOrigine">
          <th *matHeaderCellDef mat-header-cell> Pays Origine</th>
          <td *matCellDef="let transaction" mat-cell> {{transaction.paysOrigine.nom}} </td>
        </ng-container>

        <ng-container matColumnDef="recepteur">
          <th *matHeaderCellDef mat-header-cell> Recepteur</th>
          <td *matCellDef="let transaction"
              mat-cell> {{transaction.recepteur.prenom + ' ' + transaction.recepteur.nom}} </td>
        </ng-container>

        <ng-container matColumnDef="PaysDestination">
          <th *matHeaderCellDef mat-header-cell> Pays Destination</th>
          <td *matCellDef="let transaction" mat-cell> {{transaction.paysDestination.nom}} </td>
        </ng-container>

        <tr *matHeaderRowDef="colonnes" mat-header-row></tr>
        <tr *matRowDef="let transaction; columns: colonnes;" [routerLink]="['./', transaction.id]"
            mat-row>
        </tr>

      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     aria-label="Select page of periodic elements"
                     showFirstLastButtons>
      </mat-paginator>
    </div>

    <!-- Affichage d'un message si il n'a pas pas de transactions -->
    <ng-template #noTransactionTemplate>
      <mat-card class="mat-elevation-z3">
        <mat-card-header>
          <mat-card-title>Aucune transaction</mat-card-title>
          <mat-card-subtitle>Il n'y a aucune transaction enregistrée</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </ng-template>

  </mat-card-content>
</mat-card>
